---

---

<footer class="card rounded-b-none flex-grow text-center pb-4">
  <div class="">&copy; 2024 Aumy</div>
  <div>
    記事は
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY-4.0</a>
    ライセンスで利用可能です。
  </div>
</footer>
