---
import Splash from "./footer/splash.svelte";
---

<footer class="card rounded-b-none flex-grow">
  <div class="w-full">
    <Splash client:load />
  </div>
  <div class="text-center">&copy; 2024 Aumy</div>
</footer>
