<header class="card rounded-t-none">
  <nav class="flex gap-4 flex-wrap">
    <a
      href="/"
      class="block px-2 py-1 rounded uppercase no-underline tracking-wider bg-transparent hover:bg-neutral-200 transition-colors"
      >Home</a
    >
    <a
      href="/blog"
      class="block px-2 py-1 rounded uppercase no-underline tracking-wider bg-transparent hover:bg-neutral-200 transition-colors"
      >Blog</a
    >
  </nav>
</header>
