<header class="card flex gap-6 wrap items-center">
  <div>
    <a href="/" class="block no-underline last:font-bold text-3xl py-4"
      >fuku.day</a
    >
  </div>
  <nav class="flex gap-4 flex-wrap">
    <a
      href="/blog"
      class="block px-2 py-1 rounded uppercase tracking-wider bg-transparent transition-colors"
      >Blog</a
    >
    <a
      href="/blog/rss.xml"
      class="block px-2 py-1 rounded uppercase tracking-wider bg-transparent transition-colors"
      >RSS</a
    >
  </nav>
</header>
