---
import Layout from "../layouts/Layout.astro";
import Tag from "./_index/tag.astro";
import Social from "./_index/social.astro";
import { getEntry } from "astro:content";
import Topic from "./_index/topic.astro";

const topics = await Promise.all([
  getEntry("blog", "2024-06-30-music-2024-q2"),
  getEntry("blog", "2024-06-18-rss"),
  getEntry("blog", "2024-04-27-slash-blog"),
  getEntry("blog", "2024-08-10-tailwind"),
]);
---

<Layout title="Aumy">
  <div>
    <div>
      <main class="flex flex-wrap gap-4 justify-center">
        <section class="card basis-80 grow flex flex-col-reverse">
          <div
            class="uppercase text-right font-bold flex before:border-t-2 before:border-black dark:before:border-white before:grow gap-2 items-center"
          >
            Profile
          </div>
          <div class="vstack gap-4">
            <div class="vstack gap-2">
              <h1 class="text-3xl font-bold">Aumy / おーみー</h1>
            </div>

            <Tag
              tags={[
                "otaku",
                "web",
                "web_frontend",
                "user_interfaces",
                "developer_experience",
                "programming_languages",
                "functional_programming",
                "kawaii",
                "typescript",
                "rust",
                "nix",
              ]}
            />

            <Social
              links={[
                ["aumy_f", "twitter", "https://twitter.com/aumy_f"],
                ["aumyf", "github", "https://github.com/aumyf"],
                ["aumy", "cosense", "https://scrapbox.io/aumy"],
              ]}
            />
          </div>
        </section>
        <section
          class="card basis-80 grow flex flex-col-reverse justify-between"
        >
          <div
            class="uppercase text-right font-bold flex before:border-t-2 before:border-black dark:before:border-white before:grow gap-2 items-center"
          >
            Profile
          </div>
          <div class="vstack gap-4">
            <div class="text-2xl font-bold">経歴</div>
            <ul class="list-disc pl-6">
              <li>2019.04-2022.03: 公立工業高校</li>
              <li>2022.04-: 某社インターン</li>
              <li>2023.06-2024.03: サイボウズ・ラボユース</li>
            </ul>
          </div>
        </section>
        {
          topics.map((topic) => (
            <Topic
              title={topic.data.title}
              description={topic.data.description}
              href={`/blog/${topic.slug}`}
            />
          ))
        }
      </main>
    </div>
  </div>
</Layout>
