---
type Props = {
  links: [username: string, service: string, href: string][];
};

const { links } = Astro.props;
---

<div class="flex gap-4 flex-wrap">
  {
    links.map(([username, service, href]) => (
      <a href={href} class="underline-offset-4">
        <span class="select-none text-neutral-700 dark:text-neutral-400">
          @
        </span>
        <span>{service}</span>: <span class="username">{username}</span>
      </a>
    ))
  }
</div>
