---
type Props = { tags: string[] };

const { tags } = Astro.props;
---

<div class="flex gap-4 flex-wrap">
  {tags.map((tag) => <span class=""> {tag}</span>)}
</div>

<style>
  div > span::before {
    content: "#";
    @apply text-black;
  }
</style>
