---
type Props = { caption: string };

const { caption } = Astro.props;
---

<div class="spotify-wrapper">
  <div>
    <slot />
    {caption && <div class="caption">{caption}</div>}
  </div>
</div>

<style>
  .spotify-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: var(--s0);
    & > div {
      max-width: 600px;
      width: 100%;
    }
  }
  .caption {
    margin-top: var(--s-2);
    color: var(--fg-weak);
    font-size: 0.9em;
  }
</style>
