---
type Props = { caption?: string; src?: string; title?: string };

const { caption, src } = Astro.props;

const videoid = src?.match(/https:\/\/youtu\.be\/([a-zA-Z0-9\-_]+)\??.*/)?.[1];

if (src && !videoid) {
  throw new Error("failed to parse videoid");
}
---

<div class="yt-container">
  <div class="wrapper">
    <slot />
    {
      videoid && (
        <lite-youtube videoid={videoid} autoload posterquality="default" />
      )
    }
  </div>
  <div class="caption">
    {caption}
    <slot name="caption" />
  </div>
</div>

<script src="@justinribeiro/lite-youtube/lite-youtube.js"></script>

<style>
  .yt-container {
    margin-inline: auto;
    max-width: 560px;
    margin-block: 1rem;
    & > .wrapper {
      border-radius: 16px;
      overflow: hidden;
      aspect-ratio: 16 / 9;
      max-width: 560px;
    }
  }
  .caption {
    margin-top: 0.5rem;
    color: var(--fg-weak);
    font-size: 0.9em;
    line-height: 1.5;
    text-align: center;
    text-wrap: balance;
    word-break: auto-phrase;
  }
</style>
