---
import Header from "./components/header.astro";
import Footer from "./components/footer.astro";

interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  class="leading-loose [container-type:inline-size] [container-name:document] bg-neutral-400 text-black [scrollbar-color:black_white] [scrollbar-gutter:stable]"
  lang="ja"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:title" content={Astro.props.title} />
    <meta
      property="og:description"
      content={Astro.props.description || "AumyF's website"}
    />
    <title>{title}</title>
  </head>
  <body class="">
    <div
      class="vstack min-h-screen max-w-6xl gap-4 selection:bg-black selection:text-white [--margin:clamp(_0.5rem,_max((100cqi_-_48rem)_/_2,_5cqi),_7.5cqi_)] mx-[var(--margin)]"
    >
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .vstack {
      @apply flex flex-col;
    }
    .card {
      @apply border-l-2 border-black pl-4;
    }
  }

  :root {
    font-family: sans-serif;
  }

  a {
    @apply border-2 px-0.5 border-black hover:bg-black hover:text-white transition-colors;
  }

  img {
    display: block;
    width: 100%;
  }

  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
</style>
